@use '@/styles/variables' as *;
@use 'sass:color';

.searchContainer {
  width: 100%;
  margin: 0 auto;
}

.buttonGroup {
  display: flex;
  gap: $spacing-md;
  align-items: center;
  justify-content: flex-start;

  @media (max-width: 426px) {
    flex-direction: column;
    gap: $spacing-sm;
    justify-content: center;
  }
}

.actionButton {
  min-width: 250px;
  padding: $spacing-2xl $spacing-2xl;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: $white !important;
  border-color: $dark-red !important;
  color: $dark-red !important;
  display: flex;
  align-items: center;
  gap: $spacing-sm;
  justify-content: center;
  
  @media (max-width: 426px) {
    width: auto;
    padding: $spacing-xs $spacing-sm;
  }
  
  svg {
    color: $dark-red;
  }

  &:hover {
    background-color: $dark-red !important;
    border-color: $dark-red !important;
    color: $white !important;
    box-shadow: 0 6px 16px color.change($dark-red, $alpha: 0.4);

    svg {
      color: $white;
    }
  }
}

