@use '@/styles/variables' as *;

.homePage {
  min-height: 100vh;

  main {
    padding-top: 10vh !important;
  }
}

.hero {
  position: relative;
  width: 100%;
  max-width: 100vw;
  height: 91vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 35px;
    background: $dark-red;
    z-index: 3;
  }
}

.heroBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $white;
  z-index: 0;
}

.heroOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  z-index: 0;
}

.logoBottomLeft {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 1;
}

.logoBottomRight {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}

.logoImage {
  display: block;
  height: 80vh;
  width: 30vw;
  max-width: 100%;
  object-fit: contain;

  @media (max-width: $breakpoint-md) {
    width: 25vw;
  }

  @media (max-width: 769) {
    height: 70vh;
    width: 20vw;
  }

  @media (max-width: 425px) {
    width: auto;
  }
}

.heroContent {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
  width: 100%;
  max-width: 60vw;
  margin: 0 auto;
  padding: $spacing-sm $spacing-xl;
  text-align: center;
  color: $white;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45vw;
    height: 45vw;
    background-image: url('/Black Logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.10;
    filter: blur(3px);
    z-index: -5;
  }

  @media (max-width: $breakpoint-sm) {
    &::before {
      display: none;
    }
  }

  @media (max-width: $breakpoint-md) {
    max-width: 90vw;
    padding: $spacing-sm $spacing-md;
  }

  @media (max-width: 769) {
    max-width: 95vw;
  }
}

.heroTitle {
  position: relative;
  font-size: 3.4rem;
  font-weight: 700;
  margin-bottom: $spacing-lg;
  color: $dark-red;
  width: 100%;
  max-width: 100%;
  padding-bottom: $spacing-md;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);

  @media (max-width: $breakpoint-md) {
    font-size: 1.8rem;
  }

  @media (max-width: $breakpoint-sm) {
    font-size: 1.4rem;
  }
}

.heroSubtitle {
  font-size: 1.6rem;
  width: 100%;
  max-width: 100%;
  margin-bottom: $spacing-2xl;
  color: $dark-red;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

  @media (max-width: $breakpoint-md) {
    font-size: 1.22rem;
  }
}


.loadingSection {
  padding: $spacing-3xl $spacing-md;
  text-align: center;
  color: $medium-gray;
  font-size: 1.125rem;
  background: $white;
}

.tagline {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: $white;
  font-family: var(--font-great-vibes);
  font-size: 1.6rem;
  letter-spacing: 0.15rem;
  font-style: italic;
  z-index: 5;
  padding: $spacing-md $spacing-xl $spacing-xs $spacing-xl;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: auto;
  max-width: 90vw;
  white-space: nowrap;

  @media (max-width: $breakpoint-md) {
    max-width: 85vw;
    padding: $spacing-sm $spacing-md;
    font-size: 1.4rem;
  }

  @media (max-width: 769) {
    font-size: 1.45rem;
    max-width: 80vw;
  }

  // curved element behind the text
  &::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 50px;
    background: $black;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    z-index: -1;
    border: 2px solid $light-gray;
    border-bottom: none;

    @media (max-width: 769) {
      width: 85vw;
    }
  }
}